{% extends 'base.html' %}

{% block content %}

<h1> ADD STOCK </h1>

<br/>

<form action = "{% url 'add_stock' %}" class="d-flex" method = "POST">
      	{% csrf_token %}
        <input class="form-control me-2" type="search" 
        placeholder="Add To Database" aria-label="Search"
        name = "ticker">
        <button class="btn btn-outline-success" type="submit">Add Stock</button>
      </form>
 <br/> <br/>
 <h1> Predicted Price is the suggested buying price, click botton to make your selling decision </h1>
 <table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Company Name</th>
	  <th scope="col">LatestTime</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Open Price</th>
      <th scope="col">High Price</th>
      <th scope="col">Low Price</th>
      <th scope="col">Close Price</th>
	  <th scope="col">AdjClose</th>
      <th scope="col">Predicted</th>
	  
      <!-- <th scope="col">Delete Stock</th> -->
    </tr>
  </thead>
  <tbody>
{% if ticker %}
  	{% for list_item in output %}

	    <tr>
	      <th scope="row">{{ list_item.companyName }}</th>
		  <td>{{ list_item.latestTime }}</th>
	      <td>${{ list_item.latestPrice }}</td>
	      <td>${{ list_item.iexOpen }}</td>
	      <td>${{ list_item.week52High }}</td>
	      <td>${{ list_item.week52Low }}</td>
	      <td>${{ list_item.iexClose }}</td>
	      <td>${{ list_item.iexClose }}</td>

	      <td><a href="http://127.0.0.1:9000/app/predict">${{list_item.iexAskPrice}}</a></td>

	    </tr>
	{% endfor %}

{% endif %}

  </tbody>
</table>



<!-- {{ ticker }} -->
<h2> Existed Stock </h2>
<h2> DELETE STOCK </h2>

<br/>
{% if ticker %}
	{% for item in ticker %}
		 <a href="{% url 'delete' item.id %}"
		class="btn btn-danger">
		Delete {{ item }} </a> <br/><br/>
	{% endfor %}
{% else %}
	You don't have any stocks in database...
{% endif %}
<br/>

{% endblock %}